<div class="card m-3">
    <img class="card-img-top" src="/icons/yetis/00.jpg" alt="yeti"
        style="height: 170px; object-fit: none; object-position: 50% 32%;"
    />
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <span class="d-inline-block">
                <h3 class="d-inline-block card-title">{{ yeti.name }}</h3>
                <small class="d-inline-block text-muted">({{ yeti.sex|trans }})</small>
            </span>
            <span>
                {{ (((yeti.ind+1)/2)|number_format(2, '.'))*100 }} %
            </span>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="display: flex;">
                <span class="w-50 text-left px-2" style="display: inline-block;">{{ 'Height'|trans }}:</span>
                {{ yeti.height }} cm
            </li>
            <li class="list-group-item" style="display: flex;">
                <span class="w-50 text-left px-2" style="display: inline-block;">{{ 'Weight'|trans }}:</span>
                {{ yeti.weight }} kg
            </li>
            <li class="list-group-item" style="display: flex;">
                <span class="w-50 text-left px-2" style="display: inline-block;">{{ 'Age'|trans }}:</span>
                {{ yeti.age }}
            </li>
            <li class="list-group-item" style="display: flex;">
                <span class="w-50 text-left px-2" style="display: inline-block;">{{ 'Color'|trans }}:</span>
                {{ yeti.color }}
            </li>
        </ul>
    </div>
</div>